class {{ classname }}(Element):
    {% if docstring %}
    """
    {{ docstring }}

    {% for attr in attributes %}
    :param {{ attr["name"] }}:
        {{ attr["description"] }}
    {% endfor %}
    """
    {% endif %}
    def __init__(
        self,
        {% for attr in attributes %}
        {% if attr["default"] == "required" %}
        {{ attr["name"] }},
        {% else %}
        {{ attr["name"] }}: {{ attr["type"]|string }}={{ attr["default"]|string }},
        {% endif %}
        {% endfor %}
    ):
        super().__init__()
{% for attr in attributes %}
        self.{{ attr["name"] }} = {{ attr["name"] }}
{% endfor %}
        self._attribute_names = {{ attribute_names }}

