from mjcf import elements as e


def main():

{{ source_string }}
    model_xml = mujoco.xml()

    # Output
    with open('new-gen.xml', 'w') as fh:
        fh.write(model_xml)


if __name__ == '__main__':
    main()
